<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti|IM+Fell+English:400i" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.2/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <title>A Modern Witch's Spellbook</title>
  </head>
  <body ng-app="spells" ng-controller="spellCtrl">
    <div id="main">
      <h2>{{spellname}}</h2>
      <div id="ingredients">
        <h3>Ingredients</h3>
        <ul>
          <li ng-repeat="i in ingredients" ng-if="!i.hidden">{{i.name}}</li>
        </ul>
      </div>
      <div id="special">
        {{special}}
      </div>
      <div id="steps">
        <h3>Steps</h3>
        <ol>
          <li ng-repeat="s in steps">{{s}}</li>
        </ol>
      </div>
      <div>
        <h3>History</h3>
        <p>{{history}}</p>
      </div>
    </div>
    <div id="footer">- {{pagenum}} -</div>
  </body>
</html>